{% extends 'base_blog.html' %}

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block admin-panel %}

{% endblock %}

{% block content %}
    <h1 class="mt-5">
        {{ post.title }}
    </h1>
    <p>
        {{ post.body }}
    </p>
    <p style="text-align: left">
        Author:
        {{ post.author }}
    </p>
    <a href="{% url 'post_delete_url' slug=post.slug %}">
        <button type="submit" name="button" class="btn btn-danger">Delete</button>
    </a>
    <a href="{% url 'post_update_url' slug=post.slug %}" method="post">
        <button type="submit" name="button" class="btn btn-light"> Update</button>
    </a>

{% endblock %}